<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sabbir.apk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:banner="@color/colorPrimaryVariant"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bm_college_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name=".UI.Setting"
            android:exported="false" />
        <activity
            android:name=".UI.Schedule"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".UI.NoInternetActivity"
            android:exported="false"
            android:label="No Internet"
            android:noHistory="true" />

        <receiver
            android:name=".Reminder.ReminderReceiver"
            android:exported="false" />

        <service
            android:name=".Reminder.ReminderService"
            android:exported="false" />

        <service
            android:name=".InterNet.Updater.DownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>
