name: Android APK Build & Release

on:
  push:
    branches: [ "main", "master" ]
    tags:
      - "v*"
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    outputs:
      has_tag: ${{ steps.check_tag.outputs.tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x gradlew

      - name: Build APKs
        run: |
          ./gradlew assembleDebug
          ./gradlew assembleRelease

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: apk-output
          path: app/build/outputs/apk/**/*.apk

  release:
    name: Publish GitHub Release
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Download APKs
        uses: actions/download-artifact@v4
        with:
          name: apk-output
          path: apk

      - name: Create Release & Upload APKs
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: |
            apk/**/**/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
